@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------- */
/* Reset starts        */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(227, 224, 247);
  min-height: 100vh;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  font-family: 'Baloo 2', Kumbh Sans, Poppins, sans-serif;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
img {
  width: 100%;
}
picture {
  height: 100%;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
textarea {
  resize: none;
}

/* Remove default bullets points */
ul {
  list-style: none;
}
ol {
  list-style: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* set min width and make sure footer stays at the bottom */
.main-content {
  min-width: 375px;
}
.main-footer {
  margin-top: auto;
  min-width: 375px;
}

/* ----------------------------------------  */
/* Custom list for job info requirements    */
/* --------------------------------------- */

.unreqlist {
  counter-reset: orderedlist;
}
.unreqlist li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  color: #5964e0;
  font-weight: bold;
  margin-right: 1em;
}

.req-list {
  counter-reset: orderedlist;
}
.req-list li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  color: #5964e0;
  font-weight: bold;
  margin-right: 1em;
}
